<% if signed_in? %>
    <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>


     <div class="span8">
      <h3>Wszystkie wiadomości: </h3>
            <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

    <div class="center hero-unit">


     <h1>Witamy w <i>Your Bunch</i></h1>

     <h2>
       To jest strona główna serwisu społecznościowego "Your Bunch".<br>


    Politechnika Poznańska, Wydział Elektryczny   <br>
    Instytut Automatyki i Inżynierii Informatycznej    <br>
    Prototyp aplikacji opracowano w ramach pracy
    dyplomowej inżynierskiej, oddanej w styczniu 2013 r.    <br>
    Autor: Kamil Pludra                            <br>
    Tytuł: Serwis społecznościowy z wykorzystaniem Ruby on Rails. <br>
    Promotor: dr inż. Krzysztof Bucholc      <br>




     </h2>

     <%= link_to "Zarejestruj się!", zarejestruj_path, class: "btn btn-large btn-primary" %>
    <br><br>
    <%= link_to image_tag("/Your-Bunch.png", alt: "Zarajestruj sie"), zarejestruj_path %>

    <br>
    <br>

      <!-- <a href="http://www.put.poznan.pl/">Politechnika Poznańska</a>
           -->

   </div>

    <div>

           <p id="tagline" class="fulljustify">

            <%= link_to image_tag("/PP.png", alt: "Politechnika Poznańska"), "http://www.put.poznan.pl/" %>

             <%= link_to image_tag("/IAII.png", alt: "Instytut Automatyki i Inżynierii Informatycznej"), "http://www.cie.put.poznan.pl/" %>

             <%= link_to image_tag("/WE.png", alt: "Wydział Elektryczny Politechniki Poznańskiej"), "http://www.fee.put.poznan.pl/" %>

           </p>
     </div>


<% end %>