<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
     <%= link_to image_tag("/your_bunch.png", alt: "Your Bunch"), root_path, id: "logo" %>



     <nav>

       <ul class="nav pull-right">

           <ul class="nav nav-pills">


                <li class="active">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle"  href="<%= root_path %>">
                          Home</a>
                    </div>
                </li>


                <li class="active">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle"  href="<%= pomoc_path %>">
                          Pomoc</a>
                    </div>
                </li>


                <% if signed_in? %>

                <li class="active">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle"  href="<%= users_path %>">
                          Użytkownicy</a>
                    </div>
                </li>

           </ul>

           <li id="fat-menu" class="dropdown">

                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Konto
                        <span class="caret"></span>
                    </a>

                      <ul class="dropdown-menu">
                        <li><%= link_to "Profil", current_user %></li>
                        <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Wyloguj się", wyloguj_path, method: "delete" %></li>
                      </ul>
                </div>
           </li>

              <% else %>
                <li class="active">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle"  href="<%= zaloguj_path %>">
                          Zaloguj się</a>
                    </div>
                </li>
              <% end %>

        </ul>
     </nav>
    </div>
  </div>
</header>
